# MacOS
.DS_Store

# VS Code
.vscode/

# Environment Variables
.env
*.env
.env.local

# Virtual Environment
.venv/
__pycache__/

# Node Modules & Build Outputs
node_modules/
dist/

# Logs & Temp
*.log
tmp/
list.txt
